a.skipToContent:not(focus):not(active)
{
    position: absolute;
    left: -1000em;
}

a.skipToContent:focus, a.skipToContent:active
{
    position: static;
}

div#optionsBar,
#topTabs, #tabHeader,
#tabs_content
{
    position: static;
}

div.container ul
{
    width: 20em;
}

div.definedHeight
{
    width: 20em;
}

div.wideContainer2
{
    width: 40.75em;
}
	 
div.wideContainer3
{
    width: 61.75em;
}

div.wideContainer4
{
    width: 82.25em;
}

div.wideContainer5
{
    width: 103em;
}
	
div.wideContainer6
{
    width: 123.75em;
}
	
div.wideContainer7
{
    width: 144.5em;
}
	
div.wideContainer8
{
    width: 165.25em;
}

.supportInfo h3
{
    margin-bottom: 0;
}

.supportInfo p
{
    margin-top: 0;
}

div.form-wrap
{
    padding: 5px 10px 14px;
    background: #F6F6F6;
}

div.form-wrap h2
{
    margin-top: 0px;
}

#loginForm h1
{
    color: #000000;
}

#loginForm .error
{
    margin-bottom: 16px;
}

#loginForm .form-wrap .property label
{
    width: 7em;
    white-space: nowrap;
}

#loginForm .form-wrap a
{
    padding-left: 0.5em;
    padding-right: 1em;
}

#loginForm label
{
    font-weight: normal;
    text-align: left;
}

#loginForm .form-wrap .property a
{
    vertical-align: top;
}

#loginForm .form-wrap #loginFormButtons 
{
    display: inline-block;
    width: 8em;
    padding-left: 8em;
    text-align: left
}

#loginForm .form-wrap #loginFormButtons #login
{
    padding: 0.5em 2.2em;
    height: 2.4em;
}

.login-alt-container
{
    display: inline-block;
    vertical-align: middle;
}

.login-alt-container div:nth-of-type(1)
{
    padding-bottom: 5px;
}

#loginForm .form-wrap #progressImageSpan
{
    padding: 0.5em 0.5em;
    line-height: 18px;
}

#loginContent
{
    margin: 16px 8% 0px;
}

div#loginAreaWrapper
{
    float: left;
    box-sizing: border-box;
    width: 30em; /* Match loginMessage width, where set */
}

div#loginAreaWrapper.noMessage /* When there's no message, then center */
{
    float: none;
    display: table;
    margin: 0 auto;
}

div#loginMessage
{
    box-sizing: border-box;
    margin-top: 0px;
    padding: 50px 0px 0px 30px;
    overflow: hidden;
}

@media screen and (max-width: 60em)
{
    /* Push login message under login-form, with both having similar sizes */

    div#loginAreaWrapper
    {
        float: none;
        display: table;
        margin: 0 auto;
    }

    div#loginMessage
    {
        width: 30em;
        display: table;
        margin: 0 auto;
        padding: 0px;
    }
}

@media screen and (max-width: 30em)
{
    /* Drop margins an allow areas to be squished further  */

    #loginContent
    {
        margin: 16px 0px 0px;
    }

    div#loginAreaWrapper
    {
        width: auto;
        max-width: 30em;
    }

    div#loginMessage
    {
        width: auto;
        max-width: 30em;
    }
}

#loginRegisterLink
{
    margin-left: 8em;
    padding: 2em 0em 0em;
}

#loginForm .form-wrap #loginRegisterLink a
{
    margin: 0px;
    padding: 0px;
}

form.inline span.buttons input.short
{
    vertical-align: top;
}
