/* Most styles are common.css attribute overrides */

.header-body
{
    margin: 0px;
}

div#header 
{
    width: 100%;
	background-color: #396DB5;
}

div#header span#logo
{
	float: left;
  	left: 3px;
   	width: 200px;
    height: 67px;

   	background-image: url(FrontierScienceFoundation.png);
   	background-size: contain;
	background-color: inherit;
}

div#header span#line
{
   	background-image: none;
	background-color: inherit;
	z-index: -1;
}

div#header span#links
{
    height: 2.7em;
}

div#header span#icons a
{
    margins: 0;
}

div#header span#news
{
    left: 20%;
	background-color: inherit;
	color: #FFFFBB;
}

div#header span#news a
{
	color: #DDEEEE;
}

span#footer
{
	background-color: #081C31;
}

div#header span#links::before
{
    border-color: transparent transparent #10386B;
    border-style: solid;
    border-width: 0 0 32px 10px;
    content: "";
    display: none;
    left: -9.5px; /* (border-left - 0.5) for subpixel issues */
    width: 0;
    display: inline-block;
    position: absolute;
}

div#header span#links a, span#footer span.buttons a
{
    background-color: #10386B;
    font-weight: normal;
    color: #DADADA;
    margin: 0px;
}

div#header span#links a
{
    font-size: 1.2em;
    padding: 8px;
}

span#footer span.buttons a
{
    padding: 2px 8px;
}

div#header span#date
{
    display: none; 
}

div#header span#user, div#header span#date, div#header span#project, div#header span#tagline
{
    padding-bottom: 2px;
}

div#header span#links a:hover, span#footer span.buttons a:hover
{
    color: #FFFFFF;
}

div#header span#user, div#header span#date, div#header span#project 
{
    color: #FFFFFF;
    font-weight: normal;
    margin: 0px 2px;
}

div#header span#user
{
    padding-top: 8px;
}

span#footer span#copyright
{
    color: #AAB2AC;
}

div#header span#tagline
{
    color: #FFFFFF;
    font-weight: normal;
    margin: 0px 2px;
}

.footer-body
{
    margin: 0px;
}

.buttons input,
.buttons a, .buttons a:visited
{
    background-color: #3D6DB4;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 0 #13376f;
    padding: 6px 2.2em 7px;
}

#header .buttons a, .buttons a:visited
{
    border-radius: 0px;
}

.buttons a, .buttons a:visited
{
 	/* Equiv size did not work, so brute the padding. */
    padding-top: 6px;
    padding-bottom: 7px;
}

.buttons input:focus,
.buttons input:active,
.buttons input:hover,
.buttons a:focus,
.buttons a:active,
.buttons a:hover
{
    background-color: #30568E;
    color: #FFFFFF;
}

.buttons input:active,
.buttons a:active
{
    box-shadow: none;
}

.tabs span, .tabs a.active
{
    background-color: #EEEEEE;
    color: #285392;
}

.tabs a:focus, .tabs a:visited:focus
{
    background-color: #3D6DB4;
    color: #FFFFFF;
}

.tabs a, .tabs a:visited
{
    background-color: #13386F;
    color: #DADADA;
    font-weight: normal;
}

.tabs a:hover, .tabs a:visited:hover
{
    background-color: #285392;
    color: #FFFFFF;
    font-weight: normal;
}
