<!--?xml version="1.0" encoding="utf-8" ?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Frontier Science Portal</title>
<link rel="stylesheet" type="text/css" href="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/main.css"><link rel="stylesheet" type="text/css" href="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/website.css"><link rel="stylesheet" type="text/css" href="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/basemod.css"> 
<script type="text/javascript" language="javascript">


</script>

				
   <link rel="apple-touch-icon" sizes="152x152" href="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/assets/img/favicon.png" type="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/image/png">
    <link rel="shortcut icon" href="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/favicon.ico">

			
</head>

<frameset rows="73,*,28">
	<frame id="headerNavFrame" src="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/index.html" name="headerNavFrame" scrolling="no" noresize="noresize" frameborder="0" marginheight="0" marginwidth="0" title="Header and Navigation Frame">
	<frame id="mainContentFrame" src="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/index_002.html" name="mainContentFrame" noresize="noresize" frameborder="0" marginheight="0" marginwidth="0" title="Main Content Frame" onload="resetTimeout(top.frames['mainContentFrame'].location);">
	<frame id="footerInfoFrame" src="<?php echo ASSET_PATH ?>/FrontierSciencePortal_files/index_003.html" name="footerInfoFrame" scrolling="no" noresize="noresize" frameborder="0" marginheight="0" marginwidth="0" onload="frameCheck();" title="Page Footer Frame">
<noframes>

<body>
<h1>Welcome to the Frontier Science Portal</h1>
<p>To use this site, frames should be enabled in your web browser. If you need assistance, please contact our User Support department.</p>


<div class="supportInfo">

	<h2>Frontier Science User Support</h2>

	<h3>Hours of Operation</h3>
	<p>
		User Support is available 24 hours a day, 365 days a year with the exception of the holidays listed below.
		If you experience problems, or have questions about the Frontier Science website or systems, please contact
		the appropriate group listed below and provide a detailed description of the problem you encountered.
	</p>

	<h3>Site User Support</h3>
	<p>
		Phone: +1 716 834-0900 x7302<br/>
		Email: <a href="mailto:user.support@fstrf.org" style="text-decoration: underline">user.support@fstrf.org</a>
	</p>

	<h3>Registration/Randomization Support</h3>
	<p>
		Phone: +1 716 834-0900 x7301<br/>
		Email: <a href="mailto:rando.support@fstrf.org" style="text-decoration: underline">rando.support@fstrf.org</a>
	</p>

	<h3>IBCSG Registration/Randomization Support</h3>
	<p>
		Phone: +1 716 834-0900 x7301<br/>
		Email: <a href="mailto:bc.helpdesk@fstrf.org" style="text-decoration: underline">bc.helpdesk@fstrf.org</a>
	</p>

	<h3>LDMS and Laboratory User Support</h3>
	<p>
		Phone: +1 716 834-0900 x7311<br/>
		Email: <a href="mailto:ldmshelp@fstrf.org" style="text-decoration: underline">ldmshelp@fstrf.org</a>
	</p>

	<h3>DataFax User Support</h3>
	<p>
		Phone: +1 716 834-0900 x7302<br/>
		Email: <a href="mailto:datafax.user.support@fstrf.org" style="text-decoration: underline">datafax.user.support@fstrf.org</a>
	</p>

	<h3>OlympiA Centers User Support</h3>
	<p>
		Phone: +1 716 834-0900 x7301<br/>
		Email: <a href="mailto:olympia.rando@fstrf.org" style="text-decoration: underline">olympia.rando@fstrf.org</a><br/>
		<a href="https://www.frontierscience.org/olympia/support/home.view ">https://www.frontierscience.org/olympia/support/home.view</a>
	</p>

	<h3>Observed Holidays List</h3>
	<p>
		Support is not available on the following holidays:<br/>
		New Year's Day<br/>
		Memorial Day (US Holiday)<br/>
		Independence Day (US Holiday)<br/>
		Thanksgiving Day (US Holiday)<br/>
		Christmas Day
	</p>

</div>

</body>
</noframes>
</frameset>

		
	
		
		
		

		

		

		

		
			
		
	
	
		
		
			
		
	
		
		
		

		

		

		

		
			
		
	
	
			
			
	
		
		
		
		
		
		
		
		

		

		

		

		
			
		
	
		
		
	
	</html>