# IDE
.idea/
.ftpquota
error_log
.well-known
cgi-bin
.DS_Store

#ingnorar carpetas
expediente/
expedienteseliminados/
expedientesterminados/
refaccion/

# Logs
internal/log

#system/
#system/config/config.php